

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1F2235;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.py-6 {
  padding: 10rem 0;
}

.active2 {
  color: #ff014f;
  background: linear-gradient(145deg, #202336, #131520);
  box-shadow: 10px 10px 19px #131520,
    -10px -10px 19px #1c1f30;
}

p,
a {
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

/* particle js */

#particles-js {
  position: absolute;
  width: 90%;
  height: 80vh;
  background-image: url("");
  background-color: #1F2235;
  z-index: -1;
}

/* #particles-js-two {
  position: absolute;
  width: 80%;
  height: 100vh;
  z-index: -1;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} */


h1 {
  font-weight: 900;
  font-size: 55px;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 45px;
  color: #fff;
}





/* contact */
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 50rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0 0 0;
  z-index: 1111;
  transition: all 300ms ease-in-out;
}

header nav {
  padding: 0 18rem;
}

header .nav-left {
  padding: 20px 0;
  margin-right: 20px;
}

header .navbar-brand {
  font-size: 20px;
  color: #fff !important;
}

header .navbar-brand img {
  width: 150px;
  height: 50px;
}

header .nav-link {
  color: #fff !important;
  font-size: 18px;
  transition: .5s;
}

header .nav-link:hover {
  color: #BB2D3B !important;
  transform: translateY(-8px);

}

header .btn-head {
  padding: 10px 30px;
  transition: .5s;
}

header,
.btn-head:hover {
  transform: translateY(-8px);
}

header .navbar-brand {
  font-size: 25px;
  transition: .4s;
}

header .navbar-brand:hover {
  transform: translateY(-8px);

}

header .active {
  color: #BB2D3B !important;
}

/* scroll stuff */
.scroll-down header {
  transition: 0.5s;
  display: none;
  transform: translate3d(0, -100%);
  background-color: #1F2235;
  box-shadow: 0 13px 22px -5px rgb(0 0 0 / 20%);
}

.scroll-up header {
  transition: 0.5s;
  background-color: #1F2235;
  box-shadow: 0 13px 22px -5px rgb(0 0 0 / 20%);
}

/*========================= Header End ========================*/

/* banner */

#banner-section {
  padding: 10rem 0 0 0;
}

.banner-main-content {
  margin-top: 5rem;
}

.banner-designation {
  display: flex;
  flex-direction: row;
  padding: 0 0 0.3rem 0;
}

.banner-title {
  padding: 0 0 0.3rem 0;
}

.banner-title h1 {
  font-size: 80px;
}

.banner-content {
  padding: 0 0 0.3rem 0;
}

.banner-designation p {
  padding: 0 20px 0 0;
  font-size: 18px;
}

.banner-designation p:nth-child(2)::before,
.banner-designation p:nth-child(3)::before {
  content: "";
  position: absolute;
  border-left: 2px solid #BB2D3B;
  height: 20px;
  margin: 0 -10px;
}

.banner-content-button button {
  padding: 15px 25px !important;
  outline: none;
  margin: 0 10px 0 0;
}

.banner-content-button .btn-outline-danger {
  color: #fff !important;
}

.banner-img {
  width: 100%;
}

.banner-img img {
  padding: 0 0 0 12rem;
  width: 90%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: img-keyframe;
  animation-timing-function: ease;
}

.banner-img p {
  margin: 0 0 0 9rem;
  /* padding: 2rem 0; */
  text-align: center;
  font-size: 25px;
}

/* social icon */
.banner-social-section {
  padding: 0 0 0 9rem;
}



/* =================== Banner End  ===================*/

/* About Section */
/* #about .about-main-title {} */

#about .about-main-title span {
  color: #f9004d;
  letter-spacing: 1px;
  display: block;
  line-height: 14px;
  margin-bottom: 10px;
}

#about .about-main-title h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0;
}

.about-box {
  text-align: left;
  padding: 35px 50px 35px 50px;
  transition: 0.5s all ease-in-out;
  position: relative;
  border-radius: 10px;
  box-shadow: 10px 10px 19px #131520,
    -10px -10px 19px #1c1f30;
  position: relative;
  z-index: 1;
  height: 100%;
  transition: .3s;
}

.about-box:hover {
  background: linear-gradient(145deg, #202336, #131520);
}

.about-box-inner {
  transition: transform 250ms;
}

.about-box-inner:hover {
  transform: translateY(-20px);
}

#about .a-box-ic {
  margin-bottom: 29px;
}

#about .a-box-ic:hover {
  transition: translateY(-20px);

}

#about .a-box-ic i {
  width: 50px;
  height: auto;
  color: #f9004d;
}

#about .a-box-ic i:hover {
  transition: translateY(-20px);
}

.a-box-content .a-b-c-des h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.a-box-content .a-b-c-des p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  /* margin-bottom: 22px; */
}

.about-box-inner .a-b-c-read-more-btn {
  /* display: none; */
  transition: .4s;
}

/* .about-box-inner .a-b-c-read-more-btn:hover {
  display: block;
} */



/*======================  Service Section   ==========================*/
#services {
  padding: 10em 0;
  /* background: red; */

}

.services-content-two p {
  position: relative;
  /* color: #BB2D3B; */
  margin-left: 30px;
  max-width: 320px;
}

.services-content-two p::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;
  background: #BB2D3B;
  margin-left: -34px;
  margin-top: 12px;

}

.services-button button {
  margin: 5px 0;
  padding: 15px 10px;
  transition: all .3s;
}

.services-button button:hover {
  transform: scale(1.2);
}

#services .service-img-sec {
  position: relative;
  bottom: 140px;
}

.service-img-sec .img-one {
  position: absolute;
  right: 50px;
  top: -10px;
  /* bottom: 0; */
  z-index: 999;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.service-img-sec .img-one img {
  width: 280px;
  height: 200px;
  border-radius: 5px;
  /* z-index: 1; */


}

.service-img-sec .img-two {
  padding: 2% 0 0 10%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  position: absolute;
  right: 0;
  top: 150px;
}

.service-img-sec .img-two img {
  width: 100%;
  border-radius: 5px;
}

.service-img-sec .img-three {
  position: absolute;
  left: 100px;
  top: 450px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.service-img-sec .img-three img {
  width: 280px;
  height: 200px;
  border-radius: 5px;
}

.img-one:hover,
.img-two:hover,
.img-three:hover {
  animation-name: img-keyframe;
  animation-timing-function: ease;
}

/* keyframes */
@keyframes img-keyframe {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }

}




/*====================== Resume Section ==========================*/

/* #resume {} */

#resume span {
  color: #ff014f;
}

#resume .time-line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.time-line .block {
  width: calc(50% - 20px);
  margin: 10px 0;
  padding: 30px;
  box-shadow: 10px 10px 19px #131520,
    -10px -10px 19px #1c1f30;
  position: relative;
}

.block-inner::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 5px;
  right: 100%;
  top: 43px;
  transform: translateY(-7px);
  background: #17191c;
  z-index: 0;
}

.time-line .block::before {
  content: "";
  position: absolute;
  background-color: #17191c;
  width: 5px;
  height: 120%;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);

}

.time-line .block::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #BB2D3B;
  left: -26px;
  top: 30px;
  border: 4px solid #17191c;
  border-radius: 50%;
}

#resume .resume-rating span {
  color: #ff014f !important;

}

#resume .block-heading {
  margin-bottom: 15px;
  border-bottom: 1px solid #1a1d23;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#resume .block-heading h3 {
  color: #fff;
  font-size: 24px;
  line-height: 39px;
  margin-bottom: 7px;
  font-weight: 500;

}

#resume .block-heading span {
  color: #7c838e;
  font-size: 14px;
}

#resume .resume-rating {
  display: inline-block;
  padding: 2px 15px;
  box-shadow: 10px 10px 19px #131520,
    -10px -10px 19px #1c1f30;
  margin-left: 35%;
  border-radius: 6px;
}

#resume .resume-box-title p {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
/* resume progressbar */


.progress {
  position: relative;
  height: 8px;
  margin: 0;
  overflow: visible;
  background: #0D1117;

}

.progress .progress-bar {
  border-radius: 5px;
}

.progress-bar-striped {

  background-size: 1rem 1rem;
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
}

.progress .progress-value {
  left: 90%;
  bottom: 250%;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 5px;
}

.progress-bar.active {
  animation: reverse, animate-positive 2s;
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}



/*======================= Latest Post Section ======================*/


#latest-project {
  padding: 10em 0;
  z-index: 1111;
}

#latest-project .global-title {
  padding: 2em 15em;
}


.workcontent {
  padding: 3.5em 0 2.5em 0;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}

.window {
  width: 500px;
  margin: auto;
  cursor: n-resize;
}

.window img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 600px;
  transition: 8s all ease;
}

.window img:hover {
  object-position: bottom;
}

.lw-link {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.lw-link>a span {
  color: #dc3545;
}

.lw-link>a {
  margin: 0 1em;
  transition: .2s;
  color: #fff;

}

.lw-link>a:hover {
  color: #dc3545;
}

.lw-link>a span {
  margin: 0 0.5em;
}

.lw-livelink {
  text-align: center;
}

.lw-livelink a {
  color: #fff;
  transition: .3s;
}

.lw-livelink a:hover {
  color: #dc3545;
}

.arrow-button {
  display: flex;
  justify-content: center;
  color: #fff;
  border-radius: 20px;
  transition: all .3s ease;
  cursor: pointer;
  align-items: center;
}

.arrow-button>.arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.arrow-button>.arrow::before {
  display: block;
  background-color: #dc3545;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover>.arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: #dc3545;
}

.arrow-button:hover>.arrow::before {
  opacity: 1;
  width: 8px;
}

.arrow-button:hover {
  color: #fff;
}

.lp-btn button {
  padding: 10px 20px !important;
  transition: .3s;
}

.lp-btn button:hover {
  transform: scale(1.1);
}





/*================= Testimonial Section ================= */


#testimonial .t-card-img {
  overflow: hidden;
  border-radius: 5px;
}

#testimonial .testimonial-card img {
  transition: transform .2s;
  display: inline-block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#testimonial .testimonial-card img:hover {
  transform: scale(1.1);
}



.testimonial-card .t-card-content .t-subtitle {
  font-size: 12px;
  color: #f9004d;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 22px;
}

.testimonial-card .t-card-content h3 {
  font-size: 26px;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 34px;
  color: #fff;
}

.testimonial-card .t-card-content .t-span {
  font-size: 16px;
  color: #b9c2cf;
}

.testimonial-section .testimonial-content {
  margin: 8rem 5rem;
  border-radius: 5px;
  position: relative;
}

.testimonial-section .testimonial-content h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #c4cfde;
}

.testimonial-section .testimonial-content span {
  color: #b9c2cf;
}

.testimonial-section .testimonial-content .t-rating {
  position: absolute;
  right: 10%;
  padding: 2px 15px;
  box-shadow: 10px 10px 19px #131520, -10px -10px 19px #1c1f30;
}

.testimonial-section .testimonial-content .t-rating img {
  width: 10px !important;
  display: inline-block !important;
}

.testimonial-section .testimonial-content p {
  color: #b9c2cf;
}

.t-c-area {
  position: relative;
  padding: 3rem 2rem 1rem 2rem;

}
.testimonial-card .card{
  width: 24rem;
  background-color: rgba(0,0,0,0.2);
  box-shadow:10px 10px 19px #131520, -10px -10px 19px #1c1f30;
}

.testimonial-section .testimonial-content .t-separator::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 5px;
  background: #181a1d;
  left: -80px;
  z-index: -1;
  top: 66px;
}

/* element.style {
} */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {

  color: #fff;
  width: 50px;
}
.testimonial-section .testimonial-content {
  width: 43rem; 
  background-color: rgba(0,0,0,0.2);
  box-shadow:10px 10px 19px #131520, -10px -10px 19px #1c1f30;
}
.testimonial-section .testimonial-content ::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  left: 0;
  top: -130px;
  background: transparent;
  /* background-image: url(../css/); */
  background-image: url(../img/quote.png);
  /* background: red; */
  background-size: cover;
  z-index: -1;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center center;
}

.testimonial-section .testimonial-content .border-bottom {
  margin: 2rem 0;
  border-bottom: 1px solid #141518 !important;
}

#testimonial .owl-nav {
  position: absolute;
  right: 13%;
  top: 0;
}

#testimonial .owl-nav .owl-prev {

  font-size: 25px;
  position: absolute;
  right: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 19px #131520, -10px -10px 19px #1c1f30;
  border: 0 none;
  top: 50px;
  z-index: 3;
  border-radius: 6px;
}

#testimonial .owl-nav .owl-prev span {
  display: none;
}

#testimonial .owl-nav .owl-prev img {
  width: 100%;
}

#testimonial .owl-nav .owl-next img {
  width: 100%;
}


#testimonial button.slide-arrow {}

#testimonial .owl-nav .owl-next {
  font-size: 25px;
  position: absolute;
  /* right: 25px; */
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 19px #131520, -10px -10px 19px #1c1f30;
  border: 0 none;
  top: 50px;
  z-index: 3;
  border-radius: 6px;
}
#testimonial .owl-dots{
  position: absolute;
  bottom: 10%;
  right: 55%;
}
#testimonial .owl-dots .owl-dot.active span{
  background: #f9004d !important ;
  width: 12px;
  height: 12px;

}
#testimonial .owl-dots .owl-dot span{
  background: #131520;
  width: 12px;
  height: 12px;
}






/*--------------------------- Pricing Area Styles -----------------------------*/
.navigation-wrapper {
  margin-left: 10px;
  box-shadow: var(--shadow-1);
}

.navigation-wrapper ul {
  border-radius: 10px;
  align-items: center;
}

.navigation-wrapper ul.nav {
  background-color: var(--background-color-1);
  box-shadow: var(--shadow-1);
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: 0;
}

.navigation-wrapper ul.nav li {
  flex-basis: 33.33%;
  margin: 0;
}

.navigation-wrapper ul.nav li.recommended {
  position: relative;
}

.navigation-wrapper ul.nav li.recommended::after {
  content: "";
  right: 60px;
  top: -23px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #545961;
  z-index: 1;
}

.navigation-wrapper ul.nav li.recommended::before {
  content: "Recommended";
  position: absolute;
  top: -50px;
  right: 33px;
  background: #545961;
  padding: 5px 13px;
  font-size: 12px;
  border-radius: 30px;
  color: #fff;
  z-index: 2;
}

.navigation-wrapper ul.nav li a {
  text-align: center;
  display: block;
  padding: 30px 10px;
  border-radius: 6px;
  transition: var(--transition);
}

.navigation-wrapper ul.nav li a:hover,
.navigation-wrapper ul.nav li a:focus,
.navigation-wrapper ul.nav li a.active {
  box-shadow: var(--shadow-1);
  color: var(--color-primary);
}

.navigation-wrapper .tab-content {
  padding: 0 50px 40px 50px;
}

.rn-pricing .pricing-header {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.rn-pricing .pricing-header h2.title {
  font-size: 27px;
  color: var(--color-lightn);
  margin-bottom: 9px;
}

.rn-pricing .pricing-header span {
  color: #7c838e;
  font-family: var(--font-secondary);
}

.rn-pricing .header-right span {
  color: var(--color-primary);
  font-size: 30px;
  font-weight: 600;
  padding: 9px 25px;
  box-shadow: var(--shadow-1);
  border-radius: 6px;
  display: inline-block;
}

.pricing-body p.description {
  font-size: 18px;
  line-height: 30px;
  max-width: 84%;
  font-weight: 400;
  color: #7c838e;
  font-family: var(--font-primary);
}

.pricing-body .check-wrapper {
  justify-content: space-between;
  display: flex;
}

.pricing-body .check-wrapper .left-area {
  margin-bottom: 30px;
}

.pricing-body .check-wrapper .check {
  margin-bottom: 15px;
}

.pricing-body .check-wrapper .check svg {
  margin-top: 2px;
  color: var(--color-lightn);
}

.pricing-body .check-wrapper .check p {
  margin-left: 5px;
  color: var(--color-lightn);
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font-secondary);
}

.pricing-footer {
  text-align: center;
  margin-top: 50px;
}

.pricing-footer .rn-btn {
  display: flex;
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-family: var(--font-secondary);
  padding: 20px 0;
}

.pricing-footer .rn-btn span {
  margin-right: 5px;
  font-size: 16px;
}

.pricing-footer .rn-btn svg {
  transition: var(--transition);
}

.pricing-footer .rn-btn:hover svg {
  margin-left: 10px;
}

.pricing-footer .time-line {
  justify-content: center;
  display: flex;
}

.pricing-footer .time-line .single-cmt {
  margin-right: 15px;
  display: flex;
}

.pricing-footer .time-line .single-cmt svg {
  width: 14px;
  margin-right: 7px;
  color: #9ca5b1;
  margin-top: 2px;
}

.pricing-footer .time-line .single-cmt span {
  font-size: 12px;
  font-weight: 500;
  color: #9ca5b1;
  margin-top: 5px;
  letter-spacing: 1px;
  font-family: var(--font-secondary);
}

.pricing-style-2 .title-area-wrapper {
  margin-right: -20px;
}

.pricing-style-2 .title-area-wrapper .section-title {
  margin-bottom: 0;
}

.pricing-style-2 .title-area-wrapper .section-title h2.title {
  margin-bottom: 40px;
}

.pricing-style-2 .title-area-wrapper p {
  font-size: 16px;
  line-height: 28px;
  color: var(--color-lightn);
  margin: 0;
  font-family: var(--font-secondary);
  padding-right: 49px;
}

.pricing-style-2 .title-area-wrapper p.title-disc {
  margin-bottom: 25px;
}

.pricing-style-2 .pricing-wrapper,
.pricing-style-2 .pricing-wrapper-pro {
  margin-left: 20px;
  position: relative;
  z-index: 1;
  padding: 40px;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
}

.pricing-style-2 .pricing-wrapper::before,
.pricing-style-2 .pricing-wrapper-pro::before {
  content: '';
  position: absolute;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  z-index: -1;
}

.pricing-style-2 .pricing-wrapper .ts-header,
.pricing-style-2 .pricing-wrapper-pro .ts-header {
  margin-bottom: 30px;
}

.pricing-style-2 .pricing-wrapper .ts-header h6,
.pricing-style-2 .pricing-wrapper-pro .ts-header h6 {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-white);
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pricing-style-2 .pricing-wrapper .ts-header span,
.pricing-style-2 .pricing-wrapper-pro .ts-header span {
  color: var(--color-lightn);
  font-size: 16px;
}

.pricing-style-2 .pricing-wrapper .price,
.pricing-style-2 .pricing-wrapper-pro .price {
  font-size: 36px;
  font-family: var(--font-primary);
  color: var(--color-lightest);
  margin-bottom: 23px;
}

.pricing-style-2 .pricing-wrapper .pricing-body,
.pricing-style-2 .pricing-wrapper-pro .pricing-body {
  margin-bottom: 40px;
}

.pricing-style-2 .pricing-wrapper .pricing-body .feature,
.pricing-style-2 .pricing-wrapper-pro .pricing-body .feature {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pricing-style-2 .pricing-wrapper .pricing-body .feature svg,
.pricing-style-2 .pricing-wrapper-pro .pricing-body .feature svg {
  margin-right: 10px;
  position: relative;
  background-color: var(--color-lightn);
  border-radius: 50%;
  background: none;
  color: var(--color-lightn);
  opacity: 0.8;
  width: 22px;
}

.pricing-style-2 .pricing-wrapper .pricing-body .feature svg.off,
.pricing-style-2 .pricing-wrapper-pro .pricing-body .feature svg.off {
  color: #666;
  position: relative;
  background-color: var(--color-lightn);
  border-radius: 50%;
  background: none;
}

.pricing-style-2 .pricing-wrapper .pricing-body .feature .name,
.pricing-style-2 .pricing-wrapper-pro .pricing-body .feature .name {
  color: var(--color-lightn);
  font-weight: 400;
  font-size: 16px;
}

.pricing-style-2 .pricing-wrapper .pricing-body .feature .name.off,
.pricing-style-2 .pricing-wrapper-pro .pricing-body .feature .name.off {
  color: #646669;
}

.pricing-style-2 .pricing-wrapper .pricing-footer a.rn-btn,
.pricing-style-2 .pricing-wrapper-pro .pricing-footer a.rn-btn {
  box-shadow: var(--shadow-1);
  display: block;
  text-align: center;
  padding: 14px;
}

.pricing-style-2 .pricing-wrapper .pricing-footer a.rn-btn::before,
.pricing-style-2 .pricing-wrapper-pro .pricing-footer a.rn-btn::before {
  background: linear-gradient(to left top, #212428, #16181c);
}

.pricing-style-2 .pricing-wrapper-pro {
  margin-left: 5px;
}

.pricing-style-2 .pricing-wrapper-pro::before {
  opacity: 0;
}

.pricing-style-2 .pricing-wrapper-pro .pricing-footer a.rn-btn {
  box-shadow: var(--shadow-1);
}

.pricing-style-2 .pricing-wrapper {
  margin-right: -15px;
}



/* =====================contact start ======================== */

input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input--style-4 {
  line-height: 50px;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.input--style-4::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #666;
}

.input--style-4:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #666;
  opacity: 1;
}

.input--style-4::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #666;
  opacity: 1;
}

.input--style-4:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666;
}

.input--style-4:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666;
}

.label {
  font-size: 16px;
  color: #555;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input:checked~.checkmark {
  background-color: #e5e5e5;
}

.radio-container input:checked~.checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #57b846;
}

.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-group {
  position: relative;
  margin-bottom: 22px;
}

.input-group-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #999;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 50px;
  background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  padding-left: 0;
  color: #555;
  font-size: 16px;
  font-family: inherit;
  padding-left: 22px;
  padding-right: 50px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 50px;
  right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 24px;
  color: #999;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

.select2-container--default .select2-results__option {
  padding-left: 22px;
}


/* #TITLE */
.title {
  font-size: 24px;
  color: #525252;
  font-weight: 400;
  margin-bottom: 40px;
}

/* #card */
.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 10px 10px 19px #1c1f30,
    -10px -10px 19px #1c1f30;
  ;
  background: #1F2235 !important;
}

#contact .card input.form-control,
select.form-select,
textarea {

  background-color: #131520 !important;
  border: 1px solid #131520;
}

#contact .card input,
label,
option,
label>.selected {
  color: #a0a8b3;
}

.card-4 {
  background: #1F2235 !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .card-4 .card-body {
    padding: 50px 40px;
  }
}

/* Contact Section button */
:root {
  --facebook: #3c5a99;
  --twitter: #1da1f2;
  --skype: #00aff0;
  --whatsapp: #25D366;
}

.middle {
  text-align: center
}

/* button facebook */
.middle .btn2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 5px 5px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #ecf0f1;
  color: var(--facebook);
  overflow: hidden;
  position: relative;

}

.middle a.btn2:hover {
  transform: scale(1.3);
  background: var(--facebook);
  color: #fff;

}

.middle .btn2 i {
  line-height: 50px;
  font-size: 20px;
  transition: 0.2s linear;

}

.middle .btn2:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

/* button twitter */
.middle .btn3 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 5px 5px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #ecf0f1;
  color: var(--twitter);
  overflow: hidden;
  position: relative;

}

.middle a.btn3:hover {
  transform: scale(1.3);
  background: var(--twitter);
  color: #fff;

}

.middle .btn3 i {
  line-height: 50px;
  font-size: 20px;
  transition: 0.2s linear;

}

.middle .btn3:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

/* button whatsapp */
.middle .btn4 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 5px 5px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #ecf0f1;
  color: var(--whatsapp);
  overflow: hidden;
  position: relative;

}

.middle a.btn4:hover {
  transform: scale(1.3);
  background: var(--whatsapp);
  color: #fff;

}

.middle .btn4 i {
  line-height: 50px;
  font-size: 20px;
  transition: 0.2s linear;

}

.middle .btn4:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

/* button skype */
.middle .btn5 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 5px 5px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #ecf0f1;
  color: var(--skype);
  overflow: hidden;
  position: relative;

}

.middle a.btn5:hover {
  transform: scale(1.3);
  background: var(--skype);
  color: #fff;

}

.middle .btn5 i {
  line-height: 50px;
  font-size: 20px;
  transition: 0.2s linear;

}

.middle .btn5:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

/* ================ contact end ====================*/

/* Footer Start */

/* .new_footer_area {} */


.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding: 27px 0px;
}

.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}

.btn_get_two:hover {
  background: transparent;
  color: #dc3545;
}

.btn_get:hover {
  color: #fff;
  background: #dc3545;
  border-color: #dc3545;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #dc3545;
}

.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}

.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ti-facebook:before {
  content: "\e741";
}

.ti-twitter-alt:before {
  content: "\e74b";
}

.ti-vimeo-alt:before {
  content: "\e74a";
}

.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #dc3545;
}

.new_footer_top .f_social_icon a:hover {
  background: #dc3545;

  color: white;
}

.new_footer_top .f_social_icon a+a {
  margin-left: 4px;
}

.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #fff;
}

.f_600 {
  font-weight: 600;
}

.f_size_18 {
  font-size: 18px;
}



.new_footer_top .f_widget.about-widget .f_list li a {
  color: #fff;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

/*================= Footer End =========================*/